.ReactModal__Content{
    box-shadow: 1px 1px 3px black;
}

.title{
    letter-spacing: 4px;
    font-size: smaller;
    padding: 6px 15px;
    border-bottom: 1px solid black ;
}

.container{
    width: 100%;
    height: 90%;
    position: relative;
}

.container > a{
    display: block;
    text-align: center;
    line-height: 80px;
}

.container > div{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.container > div > div{
    color: gray;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.container > div > div:hover{
    color: orange;
    cursor: pointer;
    text-shadow: 0px 0px 1px gray; 
}