.bg{
    background-image: url('../public/menu/vga_card.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

.bgOverlay{
    background-color: rgba(97, 92, 107, 0.4);
    height: 100%;
}

.mainmenu{
    height: 50px;
    box-shadow: 0px 1px 3px rgb(143, 143, 143);
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top:0px;
    z-index:1
}

.menu{
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 300px auto;
    height: 50px;
}

.items > a{
    color: rgb(143, 143, 143);
    display: inline-block;
    line-height: 50px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    transition: ease 0.1s;
}

.items > a:hover{
    color: rgb(61, 64, 77);
    transform: scale(1.05);
}

@media only screen and (max-width: 850px) {
    .bg {
        height: 200px;
    }

    .menu{
        height: 50px;
        grid-template-columns: 50px auto;
    }

    .items > a{
        display: none;
    }  

    .items{
        background-image: url('../public/menu/menu.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
        width:100%;
        filter: grayscale(100%);
    }    

    .items:hover{
        filter: grayscale(10%);
    }
}

.loginitems{
    display: flex;
    justify-content: flex-end;
}

.userNav{
    cursor: pointer;
    width: fit-content;
    height: 50px;
}

.userEmail{
    height: 100%;
    line-height: 50px;
    font-size: 11px;
    vertical-align: middle;
    padding: 0px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: gray;
}

.userPhoto{
    display: inline-block;
    vertical-align: middle;
    max-height: 30px;
    max-width: 50px;
    border-radius: 50%;
    background-color: rgb(212, 212, 212);
    filter: grayscale(100%);
}

/* Cart  */
.cart{
    height: 50px;
    cursor: pointer;
    padding: 0px 20px;
    position: relative;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
}

.quanityDisplay{
    padding: 2px    ;
    text-align: center;
    position: absolute;
    right: 5px;
    top:3px;
    font-size: 17px;
    font-weight: 500;
    background-color: rgba(218, 218, 218, 0.6);
    border-radius: 10px;
}

.cart:hover,.userNav:hover .userPhoto{
    transform: scale(1.1);
}

.userNav:hover .userEmail{
    color: black;
}

/* search field */
.closeSearchField{
    border-radius: 20px;
    position: relative;
    height: 40px;
    width: 40px;
    margin: auto;
    margin-left: auto;
    margin-right: 0px;
    box-shadow: inset 0px 0px 2px gray; 
    transition: 0.5s;
    cursor: pointer;
}

.openSearchField{
    box-shadow: inset 0px 0px 2px gray; 
    border-radius: 20px;
    position: relative;
    height: 40px;
    margin: auto;
    margin-left: auto;
    margin-right: 0px;
    display: grid;
    grid-template-columns: auto 40px;
    cursor: pointer;
    transition: 0.5s;
}

.closeSearchField > input{
    display: none;
}

.openSearchField > input{
    height: 100%;
    width: 100%;
    padding: 0px 0px 0px 20px;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
}

.searchIcon{
    border-radius: 50%;
    background-image: url('../public/menu/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px ;
    top: 0px;
    filter: grayscale(100%);
}

.closeSearchField:hover .searchIcon{
    filter: grayscale(10%);
}

.searchIconActive{
    border-radius: 50%;
    background-image: url('../public/menu/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px ;
    top: 0px;
    filter: grayscale(10%);
}
