.container{
    /* display: grid; */
    grid-template-columns: 30% 70%;
    /* height: 100% ; */
    width: 100%;
}

.bg{
    display: none;
    /* background-image: url("../public/login.jpeg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.form{
    height: fit-content;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.form > input{
    width: 100%;
    padding: 7px 10px;
    margin: 12px 0px;
}

.form > a{
    width: fit-content;
    padding: 5px;
    display: block;   
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: larger;
    font-weight: 500;
    text-shadow: 0px 0px 1px gray;
    cursor: pointer;
    color: gray;
}

/* .form > a:hover{
    color: black;
    text-decoration: underline;
} */

.close{
    position: absolute;
    top:0px;
    right:0px;
    width: 100px;
    text-align: center;
    line-height: 60px;
    color:gray;
    cursor: pointer;
    font-size: 15px;
}

.close:hover{
    color: rgb(214, 0, 0);
    font-weight: 600;
}


/* @media only screen and (max-width: 500px) {
    .bg{
        display: none;
    }

    .container{
        display: block;
    }
} */
